apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_name }}
  labels:
    app: {{ app_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ app_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
    spec:
      containers:
      - name: {{ app_name }}-container
        image: {{ image_name }}
        ports:
        - containerPort: 8090
        resources:
          requests:
            cpu: {{ requests_cpu | default('400m') }}
            memory: {{ requests_memory | default('400Mi') }}
          limits:
            cpu: {{ limits_cpu | default('400m') }}
            memory: {{ limits_memory | default('400Mi') }}
